.detail-breadcrumb {
    width: 80%;
    margin-top: 2rem;

    .breadcrumb {
        li {
            font-size: 1.25rem;
        }
    }
}

section.productDetail {
    width: 80%;
    margin: auto;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem 2rem;

    .detail {
        display: flex;
        flex-wrap: wrap;

        .image {
            flex: 1 1 300px;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .product-detail {
            flex: 2 1 300px;
            padding: 0rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 1.15rem;
                white-space: pre-line;
                margin-bottom: 0;
            }

            .card-btn {
                padding: 0rem;

                .price {
                    small {
                        color: gray;
                        text-decoration: line-through;
                        font-weight: normal;
                        font-size: 1.5rem;
                    }

                    padding: 0.5rem 1rem;
                    font-weight: bolder;
                    color: red;
                }

                button {
                    padding: 1rem;
                    font-size: 1.15rem;
                    font-weight: bolder;
                }
            }
        }
    }
}

section.Similar-products {
    .swiper {
        padding: 2rem 0rem;
        width: 85%;

        .swiper-slide {
            .card {
                .card-body {
                    .card-text {
                        .origin-price {
                            text-decoration: line-through;
                            color: gray;
                        }

                        .price {
                            text-align: end;
                            color: red;
                            font-weight: bolder;
                            font-size: 1.5rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1660px) {
    section.productDetail {
        width: 85%;
    }
}