.active2 {
    background-color: rgb(222 226 230);
}
.active3 {
    color: white;
    background-color: rgb(82 87 92);
}

section.header {
    display: flex;
    justify-content: center;

    width: 100%;

    .header {
        height: 30vw;
        width: 100%;
        // background-image: url('@/assets/productBG.jpg');
        // background-position: center;
        // background-size: cover;
        object-fit: cover;

        .swiper {
            height: 100%;
            width: 100%;

            .swiper-slide {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
}

section.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 5rem;

    .list {
        margin: 0rem 3rem;
        flex: 1 1 170px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: fit-content;

        nav {
            width: 100%;
            font-size: 1.25rem;
            li{
            }

            .breadcrumb {
                margin-bottom: 0.5rem;
            }
        }

        .card {
            .card-header {
                text-align: center;
                font-size: 1.75rem;
                font-weight: bolder;
            }

            ul {
                li {
                    text-align: center;
                    font-size: 1.25rem;
                    user-select: none;

                    &:hover {
                        background-color: rgb(222 226 230);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .products {
        flex: 6 1 300px;
        display: flex;
        flex-direction: column;

        .productList {
            display: flex;
            flex-wrap: wrap;

            .card {
                flex: 1 1 300px;
                max-width: 300px;
                margin: 0.5rem;
                max-height: 560px;

                &:hover {
                    box-shadow: 8px 8px 6px -4px rgb(42, 41, 41);
                }


                img {
                    height: 15vw;
                    object-fit: cover;
                }

                .card-body {
                    .card-title {
                        min-height: 60px
                    }

                    .card-text {


                        small {
                            font-size: 1rem;
                        }

                        p {
                            margin-bottom: 0;
                        }

                        .origin-price {
                            text-decoration: line-through;
                            color: gray;
                        }

                        .price {
                            text-align: end;
                            color: red;
                            font-weight: bolder;
                            font-size: 1.5rem;
                            margin-bottom: 0.5rem;
                        }
                    }

                    .footer-button {
                        display: flex;

                        button {
                            width: 100%;
                        }

                        .detail {
                            flex: 1 1 120px;
                            padding-right: 0.5rem;
                        }

                        .add-cart {
                            flex: 1 1 120px;
                        }
                    }
                }
            }
        }

        .pagination {
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
        }
    }

}

.toTop {
    cursor: pointer;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    opacity: 0.5;
    transition: all 0.25s ease;
    display: none;

    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width:1650px) {
    section.product {
        .products {
            .productList {
                .card{
                    img{
                        height: 20vw;
                    }
                }
            }
        }

    }
}